* {
    font-family: sans-serif;
    text-align: left;
    background-color: black;
}

h1 {
    text-align: center;
    color: pink;
    align-items: center;
    padding-bottom: 50px;

}

p {
    text-align: center;
    color: pink;
    position: relative;
}

body {
    text-align: center; 
}

img {
    background-color: lightpink;
    margin: 0;
    padding: 2%;
    max-width: 250px;
    max-height: 250px;
}

input {
    color: pink;
}

.image-container {
    text-align: center; 
  }
  
  .image-container img {
    display: flex;
    margin: 0 auto; 
  }
  
  .image-container p {
    margin-top: 20px; 
  }
  

   

