* {
    font-family: sans-serif;
    background-color: black;
}

h1 {
    text-align: center;
    color: pink;
    align-items: center;
    padding-bottom: 50px;
}

input {
    color: pink;
}

.image-container {
    text-align: center;
    display: flex;
   flex-direction: column;
    justify-content: center;
    align-items: center; 
  }

  .card {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
  }
  
  .image-container img {
    display: flex;
    margin: 0 auto;
    background-color: lightpink;
    padding: 2%;
    max-width: 100%;
    max-height: 150px;
  }
  
  .image-container p {
    margin-top: 20px; 
    text-align: center;
    color: pink;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
  }
  .row{
    display: flex;
    padding-bottom: 25px;
    padding-top: 25px;
  }
   button {
    color: pink;
    
   }

   

